.menu-col-1,
.menu-col-2,
.menu-col-3 {
	min-height: 200px;
	margin-bottom: 40px;
}

.menu-heading {
	color: @textColor;
	border-bottom: 2px solid @textColor;
	h3 {
		font-family: 'Holtwood One SC', serif;
		font-size: 3em;
		margin-top: 70px;
		text-align: center;
	}
}

.coffee-menu,
.tea-menu {

	h3 {
		font-family: 'Holtwood One SC', serif;
		font-size: 2em;
		color: @textColor;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: dotted 1px @textColor;
	}

	h4 {
		font-family: helvetica, sans-serif;
		color: @textColor;
		font-size: 1.3em;
		line-height: .4em; 
	}

	p {
		color: #b4917e;
		font-size: .8em;
		margin-bottom: 23px;
	}
}

.shirts-thumb,
.beans-thumb {
	float: left;
	border: solid 5px @textColor;
	width: 45%;
	margin-left: 12px;
}

.images-div img a:hover {
	color: @textColor;
}

@media (min-width: @screen-md) {
	.images-div {
		margin-top: 40px;
	}
}

@media (min-width: @screen-md) {
	.shirts-thumb,
	.beans-thumb {
		width: 80%;
	}
	.shirts-thumb {
		margin-bottom: 15px;
	}
}

@media (min-width: @screen-sm) {
	.shirts-thumb,
	.beans-thumb {
		margin-left: 25px;
	}

}

.storeImgLinks-col-2 {
	margin-top: 20px;
	margin-bottom: 60px;
		.store-item-thumb {
			background: none;
			border: none;
			h3 {
				color: #b4917e;
				margin-top: 10px;
				font-size: 1.5em;
			}
			span {
				color: #b4917e;

			}
		}
}

.categories-mobile-header {
	background: #764630;
}

.mobile-dropdown-list {
	background: @textColor;
	border: none;
	opacity: .9;
		button {
			border: none;
		}
		.categories-brand {
			color: @textColor;
		}
}

#mobile-dropdown ul li a {
	color: #764630;
}

#mobile-dropdown ul li a:hover {
	color: @textColor;
	background-color: #764630;
	text-indent: 10px;
	-webkit-transition: .5s ease;
}


.bean-categories {
	margin-top: 20px;
	p {
		color: #b4917e;
		font-size: 1em;
		padding-bottom: 10px;
		border-bottom: 2px solid @textColor;
			a {color: #b4917e;
				text-decoration: none;
			}
	}

}

.bean-categories a:hover {
	color: @textColor;
}



